.page__content-area {
    padding: 28px 48px 24px;
}

@media screen and (max-width: 1080px) {
    .page__content-area {
        padding: 28px 0 24px;
    }
}

@media screen and (max-width: 400px) {
    .page__content-area {
        padding: 16px 0 24px;
    }
}