.page__content-area {
    padding: 28px 48px 24px;
    background-color: #2a2c2f;
}

@media screen and (max-width: 1080px) {
    .page__content-area {
        padding: 28px 0px 48px;
    }
}
