.intro__list {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 0.75em;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    list-style: none;
    margin: 0px;
    padding-left: 0px;
}