.lead {
    margin-bottom: 90px;
}

@media screen and (max-width: 1080px) {
    .lead {
        max-width: 928px;
        margin: 0 auto 90px;
    }
}

@media screen and (max-width: 900px) {
    .lead {
        margin: 0 auto 88px;
    }
}

@media screen and (max-width: 800px) {
    .lead {
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 400px) {
    .lead {
        margin-bottom: 64px;
    }
}