.place__title {
    padding: 0px;
    padding-right: 0px;
    padding-left: 0px;
    margin: 0px;
    max-width: 460px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 4em;
    line-height: 1.06;
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 615px) {
    .place__title {
        padding-left: 16px;
        padding-right: 16px;
        font-size: 2em;
        line-height: 1.09;
    }
}