.footer__link {
    margin-right: 18px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.12;
    text-decoration: none;
    color: #FFFFFF;
}

.footer__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 652px) {
    .footer__link {
        margin-bottom: 18px;
    }

    .footer__link:nth-of-type(5) {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 500px) {
    .footer__link {
        margin-bottom: 32px;
        font-size: 1.5em;
        line-height: 1;
    }

    .footer__link:nth-of-type(5) {
        margin-bottom: 0;
    }
}