.intro {
    display: flex;
    flex-direction: column;
    max-width: 984px;
    margin: 0 auto 0;
}

@media screen and (max-width: 1080px) {

    .intro {
        margin-left: 48px;
    }
}

@media screen and (max-width: 928px) {

    .intro {
        margin-left: 24px;
    }
}


@media screen and (max-width: 600px) {

    .intro {
        margin-left: 16px;
        max-width: 288px;
    }
}