.cover__text {
    width: 560px;
    padding-top: 245px;
    margin: 0 auto;
}

@media screen and (max-width: 1080px) {
    .cover__text {
        padding-top: 195px;
    }
}

@media screen and (max-width: 900px) {
    .cover__text {
        padding-top: 15%;
    }
}

@media screen and (max-width: 615px) {
    .cover__text {
        width: auto;
        padding-top: 33px;
    }
}