.cover__text {
    width: 560px;
    padding-top: 20.7%;
    margin: 0px auto;
}

@media screen and (max-width: 900px) {
    .cover__text {
        padding-top: 15%;
    }
}

@media screen and (max-width: 615px) {
    .cover__text {
        width: auto;
        height: auto;
        padding: 14% 16px;
    }
}