.lead__caption {
    padding: 0px;
    max-width: 984px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 1000px) {
    .lead__caption {
        margin-left: 24px;
        max-width: 936px;
    }
}