.place__paragraph {
    padding: 0px 0px 1px;
    padding-right: 0px;
    padding-left: 0px;
    margin: 0px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 928px) {
    .place__paragraph {
        font-size: 1em;
    }
}

@media screen and (max-width: 615px) {
    .place__paragraph {
        padding-left: 16px;
        padding-right: 16px;
    }
}